<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watayouxiang.demo.ipclib">

    <application>
        <service
            android:name="com.watayouxiang.demo.ipclib.WtServiceManager"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.watayouxiang.demo.ipclib.WtServiceManager"/>
            </intent-filter>
        </service>
    </application>
</manifest>